:root {
  --title-font: "Major Mono Display", monospace;
  --content-font: "Mynerve", cursive;
  --additional-font: "Quicksand", sans-serif;
  --dark-color: #212121;
  --additional-color: #4d4d4d;
}
body {
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--dark-color);
}

.about-page h1 {
  color: white;
  font-family: var(--title-font);
  background-color: var(--additional-color);
  font-size: 76px;
  margin: 50px;
}

.container.about {
  background-color: var(--additional-color);
}

.contact a:hover {
  text-decoration: underline;
  color: white;
}

.about-page h2 {
  font-family: var(--content-font);
  color: grey;
}

p,
p a {
  font-family: var(--content-font);
  font-size: 23px;
  color: var(--dark-color);
}

.about-image {
  border-color: rgba(var(--dark-color), 0.7) !important;
}

h3 {
  font-family: var(--title-font);
  color: grey;
  font-size: 30px;
}

footer {
  font-family: var(--content-font);
  font-size: 20px;
}
footer.about-footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: grey;
  text-decoration: underline;
}

.navbar,
.navbar-brand {
  font-family: var(--content-font);
  font-size: 24px;
  line-height: 36px;
}
a.navbar-brand:hover {
  color: grey;
}

.navbar-nav li a {
  color: white;
}

.navbar-nav .active {
  color: grey !important;
}
nav a:hover {
  cursor: default;
}

.contact {
  color: rgba(var(--dark-color), 0.7);
  font-family: var(--content-font);
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
.contact a {
  text-decoration: none;
  color: rgba(var(--dark-color), 0.7);
}
