:root {
  --title-font: "Major Mono Display", monospace;
  --content-font: "Mynerve", cursive;
}



h1 {
  color: grey;
  font-size: 76px;
  margin: 50px;
  font-family: var(--title-font);
  text-align: center;
}

h2 {
  text-align: center;
  color:#212121;
  font-family: var(--content-font);
  margin: 30px;
}

h3 {
  color: dimgrey;
  text-align: center;
  margin: 30px;
  font-family: var(--content-font);
}
.main-image {
  display: block;
  margin: 0 auto;
}
