h1 {
  color: grey;
  margin: 50px;
  font-family: "Major Mono Display", monospace;
}

/*font-family: 'Major Mono Display', monospace;
font-family: 'Mynerve', cursive;
font-family: 'Quicksand', sans-serif;*/

h3 {
  color: dimgrey;

  margin: 30px;
  font-family: "Mynerve", cursive;
  display: inline;
}
.fab.fa-instagram {
  display: inline;
}
