:root {
  --title-font: "Major Mono Display", monospace;
  --content-font: "Mynerve", cursive;
  --additional-font: "Quicksand", sans-serif;
  --dark-color: #212121;
  --additional-color: #4d4d4d;
}

body {
  text-align: center;
  margin-bottom: 30px;
}

.homepage h1,
.mixes h1,
.about h1 {
  color: grey;
  font-size: 76px;
  margin: 50px;
  font-family: var(--title-font);
}

.homepage h2,
.about h2 {
  color: var(--dark-color);
  font-family: var(--content-font);
  margin: 24px;
  line-height: 1.5;
}
p {
  font-family: var(--content-font);
  line-height: 30px;
  font-size: 28px;
  background-color: grey;
  color: rgba(var(--dark-color), 0.7);
}

.container.about {
  background-color: var(--additional-color);
}
.about h1 {
  color: white;
}
.card {
  background-color: grey;
}
.card-element {
  border-color: var(--additional-color) !important;
}
.card {
  border-color: rgba(var(--dark-color), 0.7) !important;
}
.elevator-image {
  border-color: #1759cd !important;
}

footer {
  font-family: var(--content-font);
  font-size: 20px;
}
footer a {
  color: var(--dark-color);
  text-decoration: none;
}
footer a:hover {
  color: grey;
  text-decoration: underline;
}

.events a,
.no-link {
  color: black;
  font-family: var(--additional-font);
  font-weight: 400;
}
.events a:hover {
  color: grey;
  text-decoration: underline;
}
.events h1 {
  color: grey;
  font-size: 76px;
  margin: 30px;
  font-family: var(--title-font);
}

.events h2 {
  color: var(--dark-color);
  font-family: var(--content-font);
  line-height: 1.5;
  margin-bottom: 0px;
}

.date {
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.navbar,
.navbar-brand {
  font-family: var(--content-font);
  font-size: 24px;
  line-height: 36px;
}
a.navbar-brand:hover {
  color: grey;
}

.navbar-nav li a {
  color: white;
}
.navbar-nav .active {
  color: grey !important;
}

nav a:hover {
  cursor: default;
}

.button-container {
  display: block;
  position: relative;
}

.button-container a {
  position: absolute;
  bottom: 7%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: grey;
  background-color: var(--dark-color);
  font-family: var(--title-font);
  font-size: 23px;
  width: 300px;
}
.contact-button:hover {
  background-color: grey;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.main-image {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .homepage h1,
  .mixes h1,
  .events h1,
  .about h1 {
    font-size: 49px;
  }
  .button-container a {
    width: 250px;
    font-size: 22px;
  }
  .events h2,
  .about h2 {
    font-size: 23px;
  }
  p {
    font-size: 20px;
  }

  .elevator-image {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  .homepage h1,
  .mixes h1,
  .events h1,
  .about h1 {
    font-size: 35px;
  }
  footer {
    font-size: 15px;
  }
  .events h2 {
    font-size: 19px;
  }
  .about h2 {
    font-size: 21px;
  }
  p {
    font-size: 16px;
  }
  .about h1 {
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 0;
  }
}

@media (max-width: 992px) {
  p {
    font-size: 20px;
  }
  .card {
    width: 95% !important;
  }
  .elevator-image {
    border-color: var(--additional-color) !important;
  }
}
